/* CSS */

body {
    background-color: #E5E5E5;
}

.shadow {
    box-shadow: 0px 0px 3px 3px #808080 ;
}

#topbar {
    position:relative;
    width:100%;
    background-color:#D23838;
    color:#FFFFFF;
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-weight:lighter;
    font-size:20px;
    height:200px;
}

#aboutbar {
    position:relative;
    width:100%;
    background-color:#FFFFFF;
    color:#000000;
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-weight:lighter;
    font-size:20px;
    height:200px;
}

#projectbar {
    position:relative;
    width:100%;
    background-color:#E5E5E5;
    color:#000000;
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-weight:lighter;
    font-size:20px;
    height:200px;
}

#contactbar {
    position:relative;
    width:100%;
    background-color:#FFFFFF;
    color:#000000;
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    font-weight:lighter;
    font-size:20px;
    height:200px;
}

#wrapper {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    top:-16px;
    width:900px;
    background-color:#FFFFFF;
}
