@import url("https://fonts.googleapis.com/css?family=Roboto:100");
body {
    background-color: #231F20;
}
h1, h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #C6C6C6;
}
h1 {
    font-size: 34pt;
}
h2 {
    margin-top: -20px;
    font-size: 22pt;
}
.img_wrapper {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}
.link_img {
    width: 75px;
    padding-left: 5px;
    padding-right: 5px;
}
.logo {
    width: 200px;
    padding-top: 100px;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}
.wrapper {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

@media (max-width:1000px) {
    h1 {
        font-size: 66pt;
    }
    h2 {
        margin-top: -20px;
        font-size: 56pt;
    }
    .img_wrapper {
        width: 100%;
    }
    .link_img {
        display: block;
        width: 30%;
        position: relative;
        left: 50%;
        margin-right: -50%;
        padding-top: 5px;
        transform: translate(-50%, 0);
    }
    .logo {
        width: 30%;
    }
    .wrapper {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}
