@import url("https://fonts.googleapis.com/css?family=Roboto:100");
a {
    text-decoration: none;
}
body {
    background-color: #231F20;
}
h1, h2, h3 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #C6C6C6;
}
h1 {
    font-size: 38pt;
    font-weight: bold;
}
h2 {
    margin-top: -20px;
    font-size: 26pt;
    font-weight: bold;
}
h3 {
    margin-top: -20px;
    font-size: 22pt;
}
.wrapper {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}
.links {
    margin-top: 50px;
}
.fadable {
    opacity: 0;
    transition: opacity 5s
}

@media (max-width:1000px) {
    h1 {
        font-size: 66pt;
    }
    h2 {
        margin-top: -40px;
        font-size: 56pt;
    }
    h3 {
        margin-top: -40px;
        font-size: 40pt;
    }
    .links {
        margin-top: 15vw;
    }
}
